
/* Code pertaining to header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    letter-spacing: 1px;
    margin: 0px; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* To hold all page content except for footer; makes footer sticky */
.content {
    flex: 1; 
}

header {
    background-color: #1F2937;
    /* font-family: "roboto"; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 10px;
    padding-left: 150px; 
    padding-right: 100px;
}

.headcontent {
    display: flex;
    margin-left: 10px;
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
} 

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logotext {
    color: #f9faf8;
    font-size: 24px;
}

.linksubtext {
    color: #e5e7eb;
    font-size: 16px;
    font-weight: lighter;
    max-width: 400px;
    padding: 0px;
    padding-bottom: 15px;
    margin: 0px;
}

.herotext {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    max-width: 400px;
}

button {
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    color: #e5e7eb; 
    font-size: 16px;
    font-weight: bold; 
    max-width: 150px;
}

img {
    background: #6d747d; 
    padding: 110px 130px;
}

ul { 
    list-style: none;
    display: flex;
    gap: 10px; 
}

a { 
    text-decoration: none;
    color: #e5e7eb;
}

/* Start main code for first block */

.title {
    text-align: center;
    font-size: 28px;
    color: #1F2937;
    font-weight: bolder;
    padding: 20px;
    margin-top: 10px; 
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px; 
    /* max-width: 1000px;  */
    padding: 10px;
}

.squares {
    max-width: 200px; 
}

.square {
    background: white; 
    font-weight: bold; 
    border-radius: 15px; 
    width: 120px;
    height: 120px;
    border: 5px solid #3882F6; 
    margin: 10px;
    padding: 0px; 
}

.text {
    max-width: 140px; 
    text-align: center;
}

/* Start block 2 code */

.block2 {
    background: #e5e7eb;
}

#quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    text-align: justify;
    padding: 100px;
    padding-right: 200px;
    padding-left: 200px; 
    margin: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
}

#thor {
    font-size: 16px;
    color: #1f2937;
    font-weight: bold;
    text-align: right;
    padding: 100px;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 250px;
}

/* Third section of website */
.block3 {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    padding: 100px; 
}

.modal {
    background: #3882f6;
    border-radius: 10px;
    width: 900px;
    height: 130px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text1 {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.text2 {
    color: lightgray;
    font-size: 16px; 
    font-weight: light; 
}

#butt {
    border: 1px solid white;
    color: #e5e7eb;
}

/* Code pertaining to footer */
footer {
    background-color: #1F2937;
    flex-shrink: 0;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 25px; 
}
